.themed-grid-col {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #8E8268;
    border: 8px solid #844D36;
}

.themed-container {
    padding: 15px;
    margin-bottom: 30px;
    background-color:#5a5c6a;
    border: 8px solid#844D36;
}

body {background-color: #AAA0A0;}
h1 { font:  small-caps bolder 65px Georgia, serif;} 
h2 { font:  small-caps bold 42px Georgia, serif;} 
h3 { font:  small-caps  28px Georgia, serif;} 
p { font: small-caps  21px Georgia, serif;}
p.b { font: italic small-caps bold 21px Georgia, serif;}
div {text-align: center;}